/* reset style */

* {
  margin:0;
  padding: 0;
  box-sizing:border-box;
  font-family:Roboto;
}

html {
  scroll-behavior: smooth;
}

/* body {
} */

a {
  text-decoration:none;
  font-weight:350;
  color:inherit;
}

/* Global style */

.container {
  width:80%;
  margin:2% auto;
}

.flex-box {
  display:flex;
  flex-flow :row wrap;
  justify-content: space-evenly;
  align-items:center;
  background-color: blanchedalmond;
  row-gap:30px;
}

.card {
  width:30%;
  background-color: rgb(255, 219, 172);
  padding:3%;
}

.margin-top-bottom {
  margin:5% 0;
}