/* reset style */

* {
  margin:0;
  padding: 0;
  box-sizing:border-box;
  font-family:Roboto;
}

html {
  scroll-behavior: smooth;
}

/* body {
} */

a {
  text-decoration:none;
  font-weight:350;
  color:inherit;
}

/* Global css  */

nav {
  padding:1% 2%;
  position:sticky;
  top:0px;
  background-color: white;
}

.LOGO {
  float:left;
  width:24.5%;
  padding: 5px 0;
}

.LOGO img {
  height:27px;
}

.LOGO-slogan {
    font-size: 31px;
    font-weight: 600;
}

.nav-bar {
  float:left;
  list-style:none;
  width:50%;
  padding-left: 4%;
}

.icons-bar {
  float:left;
  list-style:none;
  width:25.5%;
}

.nav-bar li {
    float: left;
    padding:2% 7%;
}    

.icons-bar li {
    float: left;
    padding: 4% 8%;
}

.cleared {
  clear:both;
}

.container {
  width:80%;
  margin:0 auto;
}

/* Custom style */

#banner {
    background: url(../images/banner-img.jpg);
    background-size: 100% 100%;
    padding: 6% 3% 8% 0;
}

#banner aside {
  float:right;
  width:45%;
  background-color: #FFF3E3;
  padding:4% 2% 3%;
  border-radius:3px;
}

#cap {
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 1%;
}

#banner h2 {
    color: #B88E2F;
    font-size: 64px;
    width: 74%;
    margin-bottom: 2%;
}

#banner p {
    margin-bottom: 7%;
    color: #605656;
    width: 90%;
    font-size: 18px;
}

#buy-btn {
    color: white;
    background-color: #B88E2F;
    padding: 4% 11%;
    border: none;
    font-weight: 550;
}

#category {
  padding-top:2%;
  text-align: center;
}

#category h2 {
    margin: 3% 0 1%;
    font-size: 30px;
}

#category p {
  margin-bottom:3%;
  color:#666666;
}

.card img {
  width:100%;
}

#category .card {
  width:33%;
  float:left;
  margin:0;
}

#category .img-cap {
    color: #333333;
    width: 100%;
    display: block;
    margin-top: 4%;
    font-size: 20px;
    font-weight: 550;
}

#products {
  margin-top:3%;
}

#products .container {
  width:85%;
}

#products h2 {
    text-align: center;
    margin-bottom: 3%;
    font-size: 42px;
    font-weight: bold;
}

#products .card {
  float:left;
  margin:0 3% 3% 0;
  width:22.5%;
  position: relative;
}

#products .card:hover .overlay {
  display: block;
}

#products img {
  display:block;
  width:100%;
}

#products .card-info {
  padding:4% 3% 5%;
  background-color: #F4F5F7;
}

#products h3 {
  font-size:larger;
  margin-bottom: 3%;
} 

#products .img-cap {
  color:#898989;
  font-size:small;
  margin-bottom: 3%;
}

.price {
  font-size:large;
  font-weight: bold;
}

.prev-price {
  color:#B0B0B0;
  margin-left:3%;
  font-weight: lighter;
}

.product-status {
  position:absolute;
  top:24px;
  right:24px;
  width:40px;
  height:40px;
  border-radius: 50%;
  color:white;
  text-align: center;
  font-size:14px;
  font-weight: lighter;
  padding:12px 0;
}

.offer {
  background-color:#e97171;
}

.new {
  background-color:#2ec1ac;
}

#products .overlay {
  width:100%;
  height:100%;
  padding:60% 0 20%;
  background-color: #3A3A3AB8;
  top:0px;
  left:0px;
  display:none;
  position:absolute; 
}

.add-to-cart-btn {
  border:none;
  background-color: white;
  width:80%;
  margin: 0 10% 2%;
  color:#B88E2F;
  padding:5% 3%;
  font-size:large;
  font-weight: bold;
}

#products .icons-bar {
  width:100%;
  padding:0 5%; 
}

#products .icons-bar li {
    margin: 5% 3.2% 0;
    padding:0;
    color: white;
}

#show-more-btn {
  width:20%;
  margin:2% 40% 0;
  border: 2px solid #B88E2F;
  color:#B88E2F;
  padding:1%;
  background-color: white;
  font-size:18px;
  font-weight:bold;
}

#rooms {
  background-color: #fcf8f3;
  margin-top:4%;
  padding:5% 0;
}

#rooms-info {
  float:left;
  width:40%;
  padding:10% 3% 5% 8%;
}

#rooms-info h2{
  font-size: 45px;
  font-weight: bold;
  color:#616161;
  margin-bottom: 3%;
}

#rooms-info p{
  color:#616161;
  margin-bottom: 3%;
  width:80%;
  font-size:large;
}

#explore-btn {
  background-color: #B88E2F;
  color:rgba(255, 255, 255, 0.928);
  width:40%;
  font-weight:bold;
  font-size:large;
  border:none;
  margin-top:3%;
  padding:5%;
}

#rooms .cards-box {
  float:right;
  width:60%;
}

#rooms .card {
  float:right;
  position:relative;
}

#rooms .overlay {
  position:absolute;
  width:80%;
  bottom:30px;
  left:30px;
}

#room-info {
    background-color: rgba(255, 255, 255, 0.594);
    display:inline-block;
    width:75%;
    padding:10%;
    padding-right:0;
    color:#4a4a4a;
}

#room-def {
    
    font-size:large;
}

#room-info h3 {
  font-size:35px;
}

#small-dash {
  width:30px;
  display:inline-block;
  border:0.01px solid;
  margin-bottom:6px;
  font-weight: lighter;
  font-size:xx-small;
}

#arrow {
  background-color: #B88E2F;
  color:white;
  display:inline-block;
  vertical-align: bottom;
  height:60px;
  width:60px;
  padding:22px 20px;
  font-size:large;
}

#rooms ul {
  display:block;
  padding-left:5%;
  margin-top:5%;
}

#rooms ul li {
  float: left;
  margin-right:20px;
}

#second-room {
  position:relative; 
  float:right;
  margin-left:3%;
}

#rooms #arrow-chevron {
  color:#B88E2F;
  height:40px;
  width:40px;
  background-color: white;
  border-radius: 50%;
  position:absolute;
  top:50%;
  right:30px;
  padding:12px 5px;
}

#share {
  margin:5% 0;
}

#share img{
  width:100%;
}

footer {
  border-top:1px solid #D4D4D4;
}

footer .container {
  padding-top:5%;
}

.website-info {
  float:left;
  width:30%;
}

footer h2 {
  margin-bottom:10%;
  font-size:larger;
  font-weight:700;
}

footer p {
  color:#9f9f9f;
}

.links {
  float:left;
  width:70%;
  margin-bottom:6%;
}

.main-list {
  list-style: none;
  color:#9f9f9f;
  width:100%;
}

.hor {
  float:left;
  /* margin-right:13%; */
  width:33%;
}

.nested {
  color:black;
  list-style:none;
}

.hor li , .hor form{
  margin-top:15%;
  display:block;
}

.hor input , #subscribe-btn {
  border:none;
  border-bottom:1.5px solid black;
  display:inline-block;
  background-color: white;
  padding-bottom:2%;
}

.hor input {
  width:60%;
  margin-right:2%;
}

.nested input::placeholder {
  color:#9f9f9f;
}

.rights {
  border-top:1px solid #D4D4D4;
}

.rights p {
  margin:4% 0;
  color:black;
}
